<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

</style>
<head>
    <title>Interactive NCBI Taxonomic Tree</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
</head>
<body>
    <div>
        <h1>Interactive NCBI Taxonomic Tree</h1>
        <h2>Camille Scott</h2>
        <p>This visualization is an interactive version of the complete <a href="http://www.ncbi.nlm.nih.gov/taxonomy">NCBI taxonomic tree</a>.
        The code is a bit of a mashup of several dendrogram examples; the result is a collapsible
        circular layout, with nodes sized based on the number of children. <a href="http://flask.pocoo.org/">flask</a>
        is used as a webserver to drive it, which unfortuantely makes it difficult to deliver is
        a self-contained page; instead, I will host it on one of my heroku instances.
        </p>
        <p>
        The root node is colored red, while the currently selected node is colored green. The user can select a node either
        by clicking on it, or by using the w, a, s, and d keys to move between parent/children and siblings. The selected node's
        children can be expanded with the arrow keys: left and right to collapse and expand 10 children at a time, and up and down
        to expand or collapse all children.
        </p>
    </div>

{% include 'js_imports.html' %}
<script>
{% include 'collapsible-tree.js' %}
</script>
